* {
    margin: 0;
    padding: 0;
}

.profileLinks {
    display: flex;
    justify-content: flex-start;
}

.links {
    width: 2.2em;
    height: 2.2em;
}

.blankPic {
    width: 6em;
    height: 7em;
}

.socialSnakes {
    display: flex;
    justify-content: flex-start;
}

.nameAndEmail {
    display: flex;
    justify-content: flex-start;
}

.symbols {
    height: 3.5em;
    width: 3.9em;
}

tr {
    border: 1px solid #0000;

}